<nav class="sidebar">
    <div class="sidebar-actions">
        <a class="sidebar-tab-about">
            <i class="bi bi-person"></i>
            About
        </a>
        <a class="sidebar-tab-projects">
            <i class="bi bi-kanban"></i>
            Projects
        </a>
        <a class="sidebar-tab-archive">
            <i class="bi bi-archive"></i>
            Archive
        </a>
    </div>
</nav>