@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@fontsource/fusion-pixel-10px-proportional-kr';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --background: #181a1b;
  --default: #afafaf;
  --link: #549edf;
  --border: #777777;
  --name: #e67738;
  --pronouns: #d64eee;
  --age: #ffc106;
  --develop: #c5ef1c;
  --links: #38e2c9;
  --projects: #aa34ea;
  --project-index: #f96868;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background {
  background-color: var(--background);
}

.border {
  border: solid 0.25rem var(--border);
  color: var(--link);
}

.name {
  color: var(--name);
}

.pronouns {
  color: var(--pronouns);
}

.age {
  color: var(--age);
}

.develop {
  color: var(--develop);
}

.links {
  color: var(--links);
}

.projects {
  color: var(--projects);
}

.link {
  color: var(--link);
}

.project-index {
  color: var(--project-index);
}

.list {
  margin: 0;
  padding-left: 2rem;
  list-style-type: decimal;
  list-style-position: outside;
  text-align: left;
}

.styled {
  font-family: 'Fusion Pixel 10px Proportional KR', sans-serif;
}

.colored {
  color: var(--default);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

.custom-card {
  border: 1px solid rgba(var(--tw-border-color), 0.1);
}

#app {
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}