<!DOCTYPE html>
<html lang="de">
    <script src="/js/index.js"></script>
    <script src="/js/bootstrap.js" defer></script>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>